.container {
  margin: 0 auto;
  display: flex;
  max-width: 105rem;
  padding-top: 2rem;
}

.primary {
  padding-inline: 1.5rem;
  flex: 3;
}

.secondary {
  flex: 1;
}

#player {
  width: 100%;
}

.avatar {
  width: 3em;
  height: 3em;
  border-radius: 50%;
  background-color: aquamarine;
  margin-right: 0.5rem;
}

.top-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

#channel {
  display: flex;
  align-items: stretch;
}

#channel-name {
  color: inherit;
  font-weight: 600;
}

.sub-count {
  font-size: 0.8125rem;
  margin: 0;
  color: var(--on-surface-variant);
}

.channel-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0;
}

.sub-btn {
  border-radius: 1.5em;
  padding-inline: 1.5em;
}

.actions {
  display: flex;
  align-items: center;
  gap: 0.5em;
  font-size: 0.875rem;
}

.action-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1em;
  padding: 0.7em 1.5em;
  border-radius: 1.5em;
}

.btn-group {
  display: flex;
  gap: 0;
  border-radius: 1.5em;
  background-color: var(--primary);
}

.btn-group div {
  position: relative;
}

.btn-group div:not(:last-child)::after {
  content: "";
  position: absolute;
  top: 0.5rem;
  bottom: 0.5rem;
  right: 0;
  width: 1px;
  background-color: #cacaca;
}

.desc-section {
  font-size: 0.875rem;
  padding: 0.5rem;
  background-color: #e8e8e8;
  border-radius: 1em;
  margin-bottom: 1.5rem;
}

.comments-section {
  padding-top: 1.5rem;
}

.comments-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.comments-list li {
  margin-block: 1rem;
}

.video-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.video-list li {
  padding: 0;
}
