.btn {
  background: var(--primary-clr);
  color: white;
  font-weight: 600;
  font-size: 0.875rem;
  line-height: 1.6;
  border-radius: 0.375rem;
  padding: 0.375rem 2rem;
  margin-inline: auto;
}

.btn:focus-visible {
  outline: 2px solid;
  outline-offset: 2px;
}
