.radio-group > * + * {
    margin-top: 0.5rem;
}

.radio-group > div {
    display: flex;
    column-gap: 0.5rem;
    align-items: center;
}

.radio-group .item {
    display: inline-block;
    background: var(--bg);
    width: 24px;
    height: 24px;
    border: solid;
    border-radius: 100%;
    border-width: .18rem;
    border-color: var(--on-surface-variant);
    padding: 0;
}

.radio-group .item:focus {
    border-color: var(--on-surface);
}

.radio-group .indicator {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    position: relative;
}

.radio-group .indicator::after {
    content: "";
    display: block;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background: var(--on-surface);
}