.playlist-card {
  --gap: 0.5rem;
  font-size: 0.75rem;
  color: var(--on-surface-variant);
}

.playlist-card__title {
  color: var(--on-surface);
  margin-block: 0;
  font-size: var(--caption);
  line-height: 1.5;
}

.playlist-card .thumbnail {
  position: relative;

  .thumbnail__img {
    width: 100%;
    aspect-ratio: 16 / 9;
    object-fit: cover;
  }

  .thumbnail__foreground {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 33%;
    background: rgba(0, 0, 0, 0.7);
    color: white;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
