.channel {
}

.channel__cover {
  width: 100%;
  aspect-ratio: 4 / 1;
  background: gold;
}

.channel__header {
  font-size: 0.875rem;
  --gap: 0.75rem;
}

.channel__header .header-top {
  display: flex;
  align-items: center;
  column-gap: 1rem;

  .channel__links {
    display: none;
  }

  .channel__sub-btn {
    display: none;
  }
}

.header__info {
  overflow: hidden;
}

.channel__info {
  display: flex;
  column-gap: 0.5rem;
  color: var(--on-surface-variant);

  .channel__handle {
    color: var(--on-surface);
  }
}

.channel__name {
  margin-block: 0;
}

.channel__desc {
  color: var(--on-surface-variant);
  margin-bottom: 0;
  max-height: calc(1em * 1.6);
  overflow: hidden;
  position: relative;
}

.channel__desc:after {
  content: "";
  display: block;
  position: absolute;
  inset-block-end: 0;
  right: 0;
  height: calc(1em * 1.6);
  width: 40%;
  background-image: linear-gradient(to right, transparent, var(--surface) 80%);
}

.channel__avatar {
  width: 90px;
  height: 90px;
  border-radius: 9999px;
  background: aquamarine;
}

.channel__sub-btn {
  margin-inline: auto;
}

.channel__tabs {
  position: relative;
}

.channel__tab-btn {
  background: transparent;
  color: var(--on-surface-variant);
  font-size: 1rem;
  font-weight: 600;
  padding: 0.75rem 0;
}

.channel__tab-btn[data-state="active"] {
  color: var(--on-surface);
}

.tab-underline {
  position: absolute;
  background: var(--on-surface);
  height: 2px;
  margin: 0;
  left: 0;
  bottom: 0;

  width: 0;
  transform: translateX(0);
  transition: transform 300ms ease, width 300ms ease;
}
