/* resets */
h1,
h2,
p {
  margin-block: 0;
}

.channel .container {
  max-width: 30rem;
  margin: 0 auto;
  margin-top: var(--header-height);
  padding: 0 1rem 1rem 1rem;
}

@media screen and (min-width: 42rem) {
  .channel .container {
    max-width: 42rem;
  }
}

@media screen and (min-width: 60rem) {
  .channel .container {
    max-width: 60rem;
  }
}

@media screen and (min-width: 72rem) {
  .channel .container {
    max-width: 84rem;
  }
}

.channel__cover {
  width: 100%;
  aspect-ratio: 7 / 1;
  background: gold;
  border-radius: 1.125rem;
}

.channel__header {
  font-size: 0.875rem;
  --gap: 0.75rem;
}

.channel__header .header-top {
  display: flex;
  align-items: center;
  column-gap: 1rem;

  .channel__links {
    display: none;
  }

  .channel__sub-btn {
    display: none;
  }
}

.channel__header .header-bottom {
  display: block;
  .channel__sub-btn {
    width: 100%;
  }
}

.header__info {
  overflow: hidden;
}

.channel__info {
  display: flex;
  column-gap: 0.5rem;
  color: var(--on-surface-variant);

  .channel__handle {
    color: var(--on-surface);
  }
}

.channel__desc {
  color: var(--on-surface-variant);
  margin-bottom: 0;
  max-height: calc(1em * 1.6);
  overflow: hidden;
  position: relative;
}

.channel__desc:after {
  content: "";
  display: block;
  position: absolute;
  inset-block-end: 0;
  right: 0;
  height: calc(1em * 1.6);
  width: 40%;
  background-image: linear-gradient(to right, transparent, var(--surface) 80%);
}

.channel__avatar {
  width: 90px;
  height: 90px;
  border-radius: 9999px;
  background: aquamarine;
}

.channel__sub-btn {
  border-radius: 999px;
  padding: 0.5rem 1rem;
}

@media screen and (min-width: 54rem) {
  .channel__header .header-top {
    .channel__links {
      display: block;
    }

    .channel__sub-btn {
      display: inline-block;
    }
  }

  .channel__header .header-bottom {
    display: none;
  }

  .channel__avatar {
    width: 160px;
    height: 160px;
  }
}

.channel__tabs {
  position: relative;
}

.channel__tab-btn {
  background: transparent;
  color: var(--on-surface-variant);
  font-size: 1rem;
  font-weight: 600;
  padding: 0.75rem 0;
}

.channel__tab-btn[data-state="active"] {
  color: var(--on-surface);
}

.tab-underline {
  position: absolute;
  background: var(--on-surface);
  height: 2px;
  margin: 0;
  left: 0;
  bottom: 0;

  width: 0;
  transform: translateX(0);
  transition: transform 300ms ease, width 300ms ease;
}

.channel__videos {
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  gap: 1rem;
  margin-top: 1rem;
}

@media screen and (min-width: 42rem) {
  .channel__videos {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

@media screen and (min-width: 60rem) {
  .channel__videos {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}

@media screen and (min-width: 72rem) {
  .channel__videos {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
}
