.progress {
  overflow: hidden;
  width: 300px;
  height: 10px;
  border-radius: 9999px;
  background-color: var(--surface-container-high);

  /* Fix overflow clipping in Safari */
  /* https://gist.github.com/domske/b66047671c780a238b51c51ffde8d3a0 */
  transform: translateZ(0);
}

.progress__indicator {
  height: 100%;
  width: 100%;
  background-color: var(--primary);
  transition: transform 660ms cubic-bezier(0.65, 0, 0.35, 1);
}
