.search {
  padding: var(--spacer);
  margin-top: var(--header-height);
}

@media screen and (min-width: 40rem) {
  .search {
    margin-left: 5rem;
  }
}

@media screen and (min-width: 80rem) {
  .search[data-sidebar-state="expanded"] {
    margin-left: 15rem;
  }

  .search[data-sidebar-state="collapsed"] {
    margin-left: 5rem;
  }
}

.search .container {
  max-width: 78rem;
  margin: 0 auto;
}
