.sidebar {
  position: fixed;
  left: 0;
  top: var(--header-height);
  height: 100%;
  width: 5rem;
  background: var(--surface-container);
}

.sidebar .list {
  width: 100%;
  height: 100%;
  padding-inline: 0.5rem;
  margin: 0;
}

.sidebar-item {
  border-radius: 0.75rem;
  padding: 0.5rem 0;

  a {
    display: flex;
    align-items: center;
    flex-direction: column;
    row-gap: 0.125rem;
    cursor: pointer;
  }

  a,
  svg {
    color: var(--on-surface);
  }
}

.sidebar-item.selected {
  background: var(--primary-container);

  a,
  svg {
    color: var(--primary);
  }
}

.sidebar-item-label {
  font-size: 0.75rem;
  font-weight: 400;
}

@media screen and (min-width: 80rem) {
  .sidebar {
    width: 15rem;
  }

  .sidebar-item a {
    padding: 0.25rem 0.5rem;
    flex-direction: row;
    column-gap: 0.5rem;
  }

  .sidebar-item-label {
    font-size: var(--body);
    font-weight: 500;
  }
}
