:root[data-theme="dark"] {
  --surface: #0b0f19;
  --primary: #007bff;
  --secondary-clr: #7c3aed;
  --surface-clr: #1e293b;
  --on-surface: #f9fafb;
  --on-surface-variant: #9ca3af;
  /* --border-clr: #6B7280; */
}

:root {
  --primary: #4154ef;
  --on-primary: #ffffff;
  --primary-container: #4155ef22;
  --on-primary-container: #4154ef;

  --secondary: rgb(16, 185, 129);
  --on-secondary: #ffffff;
  --secondary-container: rgb(16, 185, 129, 0.1);
  --on-secondary-container: rgb(16, 185, 129);

  --surface: #f9f9f9;
  --surface-container-lowest: #ffffff;
  --surface-container-low: #f6f6f7;
  --surface-container: #f3f4f6;
  --surface-container-high: #e5e7eb;
  --surface-container-highest: #d1d5db;

  --on-surface: #202020;
  --on-surface-variant: #6e7176;

  --outline: #9f9f9f;
  --outline-variant: #bbbec3;

  --h1: 1.75rem;
  --h2: 1.25rem;
  --h3: 1.125rem;
  --h4: 1rem;
  --body: 1rem;
  --caption: 0.875rem;
  
  --header-height: 4.25rem;
  --search-input-width: 28rem;
  --sidebar-collapsed-width: 5rem;
  --spacer: 1rem;
}

*,
::after,
::before {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  color: var(--on-surface);
  font-weight: 500;
  line-height: 1.6;
  color-scheme: light dark;
  background-color: var(--surface);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: inherit;
  font-weight: inherit;
  color: #3ea6ff;
}

a:visited {
  color: #3ea6ff;
}

img {
  display: block;
}

button {
  cursor: pointer;
  border: none;
}

h1 {
  font-size: var(--h1);
  font-weight: bold;
  line-height: 1;
}

h2 {
  font-size: var(--h2);
  font-weight: bold;
  line-height: 1;
}

h3 {
  font-size: var(--h3);
  font-weight: bold;
  line-height: 1;
}

input,
textarea,
.select-trigger {
  border-width: 0;
  border-radius: 0.375rem;
  padding-inline: 0.75rem;
  background: var(--surface);
  outline: 0.75px solid var(--outline);
  outline-offset: -0.75px;
  color: var(--on-surface);
  line-height: inherit;
  font-size: inherit;
  font-weight: 500;
  font-family: inherit;
}

fieldset {
  border-width: 0;
}

fieldset, legend {
  padding: 0;
}

/* utility classes */

.hidden {
  display: none;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flow-content > * + * {
  margin-top: var(--spacer);
}
