:root {
  --bg-clr: #f9f9fa;
  --primary-clr: rgb(0, 123, 255);
  --primary-container-clr: rgb(0, 123, 255, 0.1);
  --secondary-clr: #10b981;
  --surface-clr: #f3f4f6;
  --primary-txt-clr: #202020; /* #111827 */
  --secondary-txt-clr: #6c757d; /* #374151 */
  /* --border-clr: #6B7280; */

  --h1: 1.75rem;
  --h2: 1.25rem;
  --h3: 1.125rem;
  --h4: 1rem;
  --body: 1rem;
  --caption: 0.875rem;
}

:root[data-theme="dark"] {
  --bg-clr: #0b0f19;
  --primary-clr: #007bff;
  --secondary-clr: #7c3aed;
  --surface-clr: #1e293b;
  --primary-txt-clr: #f9fafb;
  --secondary-txt-clr: #9ca3af;
  /* --border-clr: #6B7280; */
}

*,
::after,
::before {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  color: var(--primary-txt-clr);
  font-weight: 500;
  line-height: 1.6;
  color-scheme: light dark;
  background-color: var(--bg-clr);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: inherit;
  font-weight: inherit;
  color: #3ea6ff;
}

a:visited {
  color: #3ea6ff;
}

button {
  cursor: pointer;
  border: none;
}

h1 {
  font-size: var(--h1);
  font-weight: bold;
  line-height: 1;
}

h2 {
  font-size: var(--h2);
  font-weight: bold;
  line-height: 1;
}

h3 {
  font-size: var(--h3);
  font-weight: bold;
  line-height: 1;
}

input,
textarea,
.select-trigger {
  width: 100%;
  border-width: 0;
  border-radius: 0.375rem;
  padding: 0.375rem 0.75rem;
  background: var(--bg-clr);
  outline: 1px solid rgb(216, 216, 216);
  outline-offset: -1px;
  color: var(--primary-txt-clr);
  line-height: inherit;
  font-size: inherit;
  font-weight: 500;
  font-family: inherit;
}
