:root {
  --primary-color: #007bff;
  --background-color: #f9f9fa;
  --primary-text-color: #202020;
  --seconday-text-color: #6c757d;

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  color: var(--primary-text-color);
  font-weight: 500;
  line-height: 1.6;

  color-scheme: light dark;
  background-color: var(--background-color);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
::after,
::before {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
}

a {
  text-decoration: inherit;
  font-weight: inherit;
  color: #3ea6ff;
}

a:visited {
  color: #3ea6ff;
}

button {
  background-color: var(--primary-color);
  font-weight: inherit;
  font-size: inherit;
  cursor: pointer;
  border: none;
}

h1 {
  font-size: 1.25rem;
  font-weight: bold;
  line-height: 1.2;
}

h2 {
  font-size: 1.125rem;
  font-weight: bold;
  line-height: 1.2;
}

h3 {
  font-size: 1rem;
  font-weight: bold;
  line-height: 1.2;
}

p {
  margin: 0;
}
